{% extends 'BaseProducto.html' %}

  

{% block bloqueproductos %}
{% for Producto in productos %}


<article class="card card-product">
	<div class="card-body">
	<div class="row">
		<aside class="col-sm-3">
			<div class="img-wrap"><img src="{{ Producto.imagen.url }}"></div>
		</aside> <!-- col.// -->
		<article class="col-sm-6">
				<h4 class="title">{{ Producto.Nombre}} </h4>
				<div class="rating-wrap  mb-2">
					<ul class="rating-stars">
						<li style="width:80%" class="stars-active"> 
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
							<i class="fa fa-star"></i> 
						</li>
						<li>
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
							<i class="fa fa-star"></i> 
						</li>
					</ul>
					<div class="label-rating">132 reviews</div>
					<div class="label-rating"> {{ Producto.Cantidad }} unidad (es) </div>
				</div> <!-- rating-wrap.// -->
				<p> {{ Producto.Descripcion | truncatechars:100 }} </p>
				<dl class="dlist-align">
				  <dt>Color</dt>
				  <dd>Black and white</dd>
				</dl>  <!-- item-property-hor .// -->
				<dl class="dlist-align">
				  <dt>Material</dt>
				  <dd>Syntetic, wooden</dd>
				</dl>  <!-- item-property-hor .// -->
				<dl class="dlist-align">
				  <dt>Delivery</dt>
				  <dd>Russia, USA, and Europe</dd>
				</dl>  <!-- item-property-hor .// -->
			
		</article> <!-- col.// -->
		<aside class="col-sm-3 border-left">
			<div class="action-wrap">
				<div class="price-wrap h4">
					<span class="price"> {{ Producto.Precio }} </span>	
					<del class="price-old"> $98</del>
				</div> <!-- info-price-detail // -->
				<p class="text-success">Envio Gratis</p>
				<br>
				<p>  
					   <a href="javascript:void(0);" data-id="{{ Producto.id }}"  class="btn btn-primary add_to_cart">Comprar</a>

					<a  href="{% url "producto_detalle"  Producto.id  %}" class="btn btn-secondary"> Detalles </a>
				</p>
			
			</div> <!-- action-wrap.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
	</div> <!-- card-body .// -->
</article> <!-- card product .// -->

  {% endfor %}
  {% endblock %}