
{% extends 'BaseProducto.html' %}

  {% block bloqueBarraUbicacion %}
   <section class="section-pagetop bg-secondary">
<div class="container clearfix">
	<h2 class="title-page" align="center">Estas en la Categoria:  {{ news_list.0.Categoria.Nombre }}</h2>

</div> <!-- container //  -->
</section>

 {% endblock %}



{% block bloqueproductos %}


{% for Producto in news_list %}

<article class="card card-product">
	<div class="card-body">
	<div class="row">
		<aside class="col-sm-3">
			<div class="img-wrap"><img src="{{ Producto.imagen.url }}"></div>
		</aside> <!-- col.// -->
		<article class="col-sm-6">
				<h4 class="title">{{ Producto.Nombre}} </h4>
				<div class="rating-wrap  mb-2">
					<ul class="rating-stars">
					
					</ul>
		
					<div class="label-rating"> {{ Producto.Cantidad }} unidad (es) </div>
				</div> <!-- rating-wrap.// -->
				<p> {{ Producto.Descripcion | truncatechars:160 }} </p>
				
		</article> <!-- col.// -->
		<aside class="col-sm-3 border-left">
			<div class="action-wrap">
				<div class="price-wrap h4">
					<span class="price"> {{ Producto.Precio }} </span>	

				</div> <!-- info-price-detail // -->
				<p class="text-success">Envio Gratis</p>
				<br>
				
				<p>  
					    	{% if Producto.Cantidad >= 1 %}
 <a href="javascript:void(0);" data-id="{{ Producto.id }}" disabled  class="btn btn-primary add_to_cart">Comprar</a>
	{% else %}
	 <a href="javascript:void(0);"  class="btn btn-secondary">Agotado</a>
     	{% endif %}

					<a  href="{% url "producto_detalle"  Producto.id  %}" class="btn btn-secondary"> Detalles </a>
				</p>
				
				  {% if request.user.is_staff %}
					<a href="{% url "producto_actualizar"  Producto.id  %}"><i class="fa fa-edit"></i>Editar</a>
					   {% endif %}
			</div> <!-- action-wrap.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
	</div> <!-- card-body .// -->
</article> <!-- card product .// -->

  {% endfor %}


  {% endblock %}



    