{% extends 'BaseProducto.html' %}

  

{% block bloqueproductos %}
{% for Producto in productos %}


<article class="card card-product">
	<div class="card-body">
	<div class="row">
		<aside class="col-sm-3">
			<div class="img-wrap"><img src="{{ Producto.imagen.url }}"></div>
		</aside> <!-- col.// -->
		<article class="col-sm-6">
				<h4 class="title">{{ Producto.Nombre}} </h4>
				<div class="rating-wrap  mb-2">
					<ul class="rating-stars">
						
					</ul>
				
					<div class="label-rating"> {{ Producto.Cantidad }} unidad (es) </div>
				</div> <!-- rating-wrap.// -->
				<p> {{ Producto.Descripcion | truncatechars:160 }} </p>
			  <!-- item-property-hor .// -->
			
		</article> <!-- col.// -->
		<aside class="col-sm-3 border-left">
			<div class="action-wrap">
				<div class="price-wrap h4">
					<span class="price"> {{ Producto.Precio }} </span>	
		
				</div> <!-- info-price-detail // -->
				<p class="text-success">Envio Gratis</p>
				<br>
				<p>  
									<a  href="{% url "producto_detalle"  Producto.id  %}" class="btn btn-secondary"> Detalles </a>
        	 
				</p>
			 {% if request.user.is_staff %}
					<a href="{% url "producto_actualizar"  Producto.id  %}"><i class="fa fa-edit"></i>Editar</a>
					   {% endif %}
			</div> <!-- action-wrap.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
	</div> <!-- card-body .// -->
</article> <!-- card product .// -->

  {% endfor %}
  {% endblock %}